@page
@model Hippra.Pages.Comments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CaseComment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaseComment.PosterId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaseComment.PosterId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaseComment.PosterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaseComment.PosterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaseComment.posterSpeciality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaseComment.posterSpeciality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaseComment.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaseComment.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaseComment.PostedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaseComment.PostedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaseComment.Case)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CaseComment.Case.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CaseComment.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
