@page "/FTProfile/{userId:int}/{actionOptions:int}"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Text.Encodings.Web
@using Hippra.Models.FTDesign
@using Hippra.Services
@using Hippra.Models.SQL
@using Hippra.Models.Enums
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
@inject IJSRuntime JSRuntime
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject Microsoft.AspNetCore.Components.NavigationManager  NavigationManager
@inject HippraService hService
@inject ProfileService pService
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Hippra.Extensions


<AuthorizeView>
    <Authorized Context="ViewProfileContext">
        @if (userId == -1)
        {
            <FTSubHeaderBar HasSeparator="false">
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn  btn-outline-dark @cssProfile" @onclick="(e => ShowProfile())">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Profile
                    </label>
                    <label class="btn  btn-outline-dark @cssActivityLog" @onclick="(e => ShowActivityLog())">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Activity Log
                    </label>
                    <label class="btn  btn-outline-dark @cssNotification" @onclick="(e => ShowNotification())">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Notifications
                    </label>
                </div>
                <div class="flex-grow-1"></div>
                <a href="FTEditProfile">Edit</a>
            </FTSubHeaderBar>
        }
        else
        {
            <FTSubHeaderBar Title="Profile" HasSeparator="false">
            </FTSubHeaderBar>

        }
        @if (actionOptions == 0)
        {
            <div class="ft-main-px">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-md-2 col-md-8 offset-md-2 text-center">
                                <br />
                                <h4 class="display-4 text-center">Profile</h4>
                                <br />
                                <div class="row py-2">
                                    <div class="col text-center">
                                        <br />
                                        <img src="/img/idea/i8s.jpg" class="ft-login-main-width" />
                                    </div>
                                    <div class="col text-left">
                                        <p class="lead">Account</p>
                                        <p class=" text-dark">@profile.FirstName @profile.LastName</p>
                                        <address>
                                            @profile.Address<br />
                                            @profile.City, @profile.State @profile.Zipcode <br /><br />

                                            <a href="tel:+@profile.PhoneNumber">@profile.PhoneNumber</a> <br />
                                        </address>
                                        <br />
                                        <p class="lead"> Professional Profile</p>
                                        <p class=" text-dark">National Provider Identifier Number: @profile.NPIN</p>
                                        <p class=" text-dark">Medical Specialty: @medicalSpecialty</p>
                                        <p class=" text-dark">American Board Certified: @boardCertified</p>
                                        <p class=" text-dark">Residency Hospital: @profile.ResidencyHospital</p>
                                        <p class=" text-dark">Medical School Attended: @profile.MedicalSchoolAttended</p>
                                        <p class=" text-dark">Education/Degree: @profile.EducationDegree</p>
                                        <br />
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (actionOptions == 1)
        {
            <div class="ft-main-px">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-md-2 col-md-8 offset-md-2 text-center">
                                <br />
                                <h4 class="display-4 text-center">Activity Log</h4>
                                <br />
                                <div class="row py-2">
                                    <div class="col">
                                        @{ var curDate = "";}
                                        @if (activityLog != null)
                                        {

                                            @foreach (var activity in activityLog)
                                            {
                                                @if (curDate == "" || activity.CreationDate.ToShortDateString() != curDate)
                                                {
                                                    curDate = activity.CreationDate.ToShortDateString();
                                                    <div class="text-left">
                                                        <h3>@activity.CreationDate.ToString("MMMM dd, yyyy")</h3>
                                                    </div>

                                                }

                                                @if (activity.HistoryTypes == "searched " || activity.HistoryTypes == "edited profile"
                                              || activity.HistoryTypes == "joined Hippra" || activity.HistoryTypes == "updated background picture"
                                              || activity.HistoryTypes == "updated profile pricture" || activity.HistoryTypes == "updated biography")
                                                {
                                                    <div class="border border-dark rounded p-4 mb-2">
                                                        <div class="row">
                                                            <div class="col-md-9 align-self-center">
                                                                <h4>@activity.UserDisplayName @activity.HistoryTypes</h4>
                                                            </div>
                                                        </div>
                                                        @if (activity.HistoryTypes == "searched ")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>on @activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <span class="fa fa-search activity-log-icon"></span>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "edited profile")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>on @activity.Title</div>
                                                                    <div><strong></strong>detail: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <span class="fa fa-address-book-o activity-log-icon"></span>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "joined Hippra")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <span class="fa fa-user-circle-o activity-log-icon"></span>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "updated background picture")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <span class="fa fa-picture-o activity-log-icon"></span>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "updated profile pricture")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <span class="fa fa-camera-retro activity-log-icon"></span>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "updated biography")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <span class="fa fa-user-edit activity-log-icon"></span>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>
                                                }
                                                else if (activity.HistoryTypes == "followed" || activity.HistoryTypes == "unfollowed"
                                                    || activity.HistoryTypes == "connected with" || activity.HistoryTypes == "disconnected with"
                                                    || activity.HistoryTypes == "invited" || activity.HistoryTypes == "decline invitation")
                                                {
                                                    <div class="border border-dark rounded p-4 mb-2">
                                                        <div class="row">
                                                            <div class="col-md-9 align-self-center">
                                                                <h4>@activity.UserDisplayName @activity.HistoryTypes @activity.UserDisplayName2.</h4>
                                                            </div>
                                                        </div>
                                                        @if (activity.HistoryTypes == "followed")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(activity); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-user-check activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "unfollowed")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(activity); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-user-times activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "connected with")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(activity); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-user-plus activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "decline invitation")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(activity); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-user-times activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "disconnected with")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(activity); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-user-minus activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "invited")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@activity.Title</div>
                                                                    <div><strong></strong>@activity.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(activity); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-envelope-open-text activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="border border-dark rounded p-4 mb-2 hover-class" @onclick="(e=>OpenViewModal(activity.PostID))">
                                                        <div class="row">
                                                            <div class="col-md-9 align-self-center">
                                                                @if (activity.HistoryTypes == "added a comment on" || activity.HistoryTypes == "updated a comment on"
                                                                  || activity.HistoryTypes == "deleted a comment on" || activity.HistoryTypes == "added an up vote on"
                                                                  || activity.HistoryTypes == "added a down vote on")
                                                                {

                                                                    <h4>@activity.UserDisplayName @activity.HistoryTypes a post.</h4>
                                                                }
                                                                else
                                                                {
                                                                    <h4>@activity.UserDisplayName @activity.HistoryTypes</h4>
                                                                }
                                                            </div>
                                                        </div>
                                                        @if (activity.HistoryTypes == "added a new case")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>Case Topic: @activity.Title</div>
                                                                    <div><strong></strong>Case Description: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <p><span class="fa fa-calendar-plus-o activity-log-icon"></span></p>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "closed a case")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>Case Topic: @activity.Title</div>
                                                                    <div><strong></strong>Case Description: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <p><span class="fa fa-calendar-times-o activity-log-icon"></span></p>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "edited a case")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>Case Topic: @activity.Title</div>
                                                                    <div><strong></strong>Case Description: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <p><span class="fa fa-edit activity-log-icon"></span></p>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "added a comment on")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>Case Topic: @activity.Title</div>
                                                                    <div><strong></strong>Case Description: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <p><span class="fa fa-commenting-o activity-log-icon"></span></p>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "updated a comment on")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>Case Topic: @activity.Title</div>
                                                                    <div><strong></strong>Case Description: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-comments-o activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "deleted a comment on")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>Case Topic: @activity.Title</div>
                                                                    <div><strong></strong>Case Description: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-comment-o activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "added an up vote on")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>Case Topic: @activity.Title</div>
                                                                    <div><strong></strong>Case Description: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-caret-square-o-up activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (activity.HistoryTypes == "added a down vote on")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>Case Topic: @activity.Title</div>
                                                                    <div><strong></strong>Case Description: @activity.Detail</div>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-caret-square-o-down activity-log-icon"></div>
                                                                    <div>@activity.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>
                                                }

                                            }
                                            @if (Count > PageSize)
                                            {
                                                <div class="mb-3 text-left">
                                                    <br />
                                                    <hr />
                                                    <br />
                                                    <FTPagination paginationData="paginationData" ChangePage="ChangePage" />
                                                    <br />
                                                </div>

                                            }
                                            <br />
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="ft-main-px">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-md-2 col-md-8 offset-md-2 text-center">
                                <br />
                                <h4 class="display-4 text-center">Notifications</h4>
                                <br />
                                <div class="row py-2">
                                    <div class="col">
                                        @{ var curDate = "";}
                                        @if (notificationList != null)
                                        {

                                            @foreach (var notification in notificationList)
                                            {
                                                @if (curDate == "" || notification.CreationDate.ToShortDateString() != curDate)
                                                {
                                                    curDate = notification.CreationDate.ToShortDateString();
                                                    <div class="text-left">
                                                        <h3>@notification.CreationDate.ToString("MMMM dd, yyyy")</h3>
                                                    </div>

                                                }
                                                @if (notification.HistoryTypes == "followed" || notification.HistoryTypes == "invited"
                                                  || notification.HistoryTypes == "connected with" || notification.HistoryTypes == "decline invitation")
                                                {
                                                    <div class="border border-dark rounded p-4 mb-2 hover-class notif-card" style="background: @notification.IsRead">
                                                        <button class="clear-notif" @onclick="(e => { ClearNotification(notification); })"><span class="far fa-times-circle"></span></button>
                                                        <div class="row">
                                                            <div class="col-md-9 align-self-center">
                                                                <h4>@notification.UserDisplayName @notification.HistoryTypes you.</h4>
                                                            </div>
                                                        </div>
                                                        @if (notification.HistoryTypes == "followed")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@notification.Title</div>
                                                                    <div><strong></strong>@notification.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(notification); })">View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-user-check activity-log-icon"></div>
                                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (notification.HistoryTypes == "invited")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@notification.Title</div>
                                                                    <div><strong></strong>@notification.Detail</div>
                                                                    @if (notification.Detail == "")
                                                                    {
                                                                        <button class="notif-btn-a" @onclick="(e => { AddToConnection(notification); })">accept</button><button class="notif-btn-d" @onclick="(e => { Decline(notification); })">decline</button>
                                                                    }
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(notification); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-envelope-open-text activity-log-icon"></div>
                                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                                </div>

                                                            </div>

                                                        }
                                                        else if (notification.HistoryTypes == "connected with")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@notification.Title</div>
                                                                    <div><strong></strong>@notification.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(notification); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-user-plus activity-log-icon"></div>
                                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                        else if (notification.HistoryTypes == "decline invitation")
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-9 align-self-center">
                                                                    <div><strong></strong>@notification.Title</div>
                                                                    <div><strong></strong>@notification.Detail</div>
                                                                    <button class="notif-btn-v" @onclick="(e => { viewPage(notification); })"> View Profile</button>
                                                                </div>
                                                                <div class="col-md-3 text-center">
                                                                    <div class="fa fa-user-times activity-log-icon"></div>
                                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                    <div class="border border-dark rounded p-4 mb-2 hover-class notif-card" style="background: @notification.IsRead" @onclick="(e => OpenViewModalFromNotification(notification))">
                                        <button class="clear-notif" @onclick="(e => { ClearNotification(notification); })"><span class="far fa-times-circle"></span></button>
                                        <div class="row">
                                            <div class="col-md-9 align-self-center">
                                                @if (notification.HistoryTypes == "added a comment on" || notification.HistoryTypes == "updated a comment on"
                                              || notification.HistoryTypes == "deleted a comment on" || notification.HistoryTypes == "added an up vote on"
                                              || notification.HistoryTypes == "added a down vote on")
                                                {
                                                    @if (usrID == notification.PosterID)
                                                    {
                                                        <h4>@notification.UserDisplayName @notification.HistoryTypes your post.</h4>
                                                    }
                                                    else
                                                    {
                                                        <h4>@notification.UserDisplayName @notification.HistoryTypes a post.</h4>
                                                    }
                                                }
                                                else
                                                {
                                                    <h4>@notification.UserDisplayName @notification.HistoryTypes. </h4>
                                                }

                                            </div>
                                        </div>
                                        @if (notification.HistoryTypes == "added a new case")
                                        {
                                            <div class="row">
                                                <div class="col-md-9 align-self-center">
                                                    <div><strong></strong>Case Topic: @notification.Title</div>
                                                    <div><strong></strong>Case Description: @notification.Detail</div>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <p><span class="fa fa-calendar-plus-o activity-log-icon"></span></p>
                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                </div>
                                            </div>

                                        }
                                        else if (notification.HistoryTypes == "added a comment on")
                                        {
                                            <div class="row">
                                                <div class="col-md-9 align-self-center">
                                                    <div><strong></strong>Case Topic: @notification.Title</div>
                                                    <div><strong></strong>Case Description: @notification.Detail</div>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <p><span class="fa fa-commenting-o activity-log-icon"></span></p>
                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                </div>
                                            </div>

                                        }
                                        else if (notification.HistoryTypes == "updated a comment on")
                                        {
                                            <div class="row">
                                                <div class="col-md-9 align-self-center">
                                                    <div><strong></strong>Case Topic: @notification.Title</div>
                                                    <div><strong></strong>Case Description: @notification.Detail</div>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <div class="fa fa-comments-o activity-log-icon"></div>
                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                </div>
                                            </div>

                                        }
                                        else if (notification.HistoryTypes == "deleted a comment on")
                                        {
                                            <div class="row">
                                                <div class="col-md-9 align-self-center">
                                                    <div><strong></strong>Case Topic: @notification.Title</div>
                                                    <div><strong></strong>Case Description: @notification.Detail</div>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <div class="fa fa-comment-o activity-log-icon"></div>
                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                </div>
                                            </div>

                                        }
                                        else if (notification.HistoryTypes == "added an up vote on")
                                        {
                                            <div class="row">
                                                <div class="col-md-9 align-self-center">
                                                    <div><strong></strong>Case Topic: @notification.Title</div>
                                                    <div><strong></strong>Case Description: @notification.Detail</div>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <div class="fa fa-caret-square-o-up activity-log-icon"></div>
                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                </div>
                                            </div>

                                        }
                                        else if (notification.HistoryTypes == "added a down vote on")
                                        {
                                            <div class="row">
                                                <div class="col-md-9 align-self-center">
                                                    <div><strong></strong>Case Topic: @notification.Title</div>
                                                    <div><strong></strong>Case Description: @notification.Detail</div>
                                                </div>
                                                <div class="col-md-3 text-center">
                                                    <div class="fa fa-caret-square-o-down activity-log-icon"></div>
                                                    <div>@notification.CreationDate.ToString("HH:mm")</div>
                                                </div>
                                            </div>

                                        }
                                    </div>
                                                }

                                            }
                                            @if (CountN > PageSize)
                                            {
                                                <div class="mb-3 text-left">
                                                    <br />
                                                    <hr />
                                                    <br />
                                                    <FTPagination paginationData="paginationNotifData" ChangePage="ChangePageNotif" />
                                                    <br />
                                                </div>

                                            }
                                            <br />
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </Authorized>
    <NotAuthorized>
        <div class="ft-main-px">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="offset-md-3 col-md-6 offset-md-3 text-center">
                            <br /><br />
                            <div class="mb-3 ms-fontWeight-semibold ms-fontSize-24 ">Need To Sign In!</div>
                            <br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter]
    public int userId { get; set; } = -1; // public ID
    [Parameter]
    public int actionOptions { get; set; } = 0; // 0 = profile, 1 = activity log, 2 = Notification
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private AuthenticationState authState { get; set; }
    private ClaimsPrincipal user { get; set; }
    private AppUser usr { get; set; }
    private FTRegisterModel profile { get; set; } = new FTRegisterModel();
    public List<FTPaginationModel> paginationData = new List<FTPaginationModel>();
    public List<FTPaginationModel> paginationNotifData = new List<FTPaginationModel>();
    public int PageSize { get; set; } = 10;
    public int Count { get; set; }
    public int CountN { get; set; }
    public int CurrentPage { get; set; } = 1;
    public int CurrentNotifPage { get; set; } = 1;
    public int TotalPages => (int)Math.Ceiling(decimal.Divide(Count, PageSize));
    public int TotalNotifPages => (int)Math.Ceiling(decimal.Divide(CountN, PageSize));
    private string medicalSpecialty = "";
    private string boardCertified = "No";
    private string cssProfile { get; set; } = "active";
    private string cssActivityLog { get; set; } = "";
    private string cssNotification { get; set; } = "";
    private string historyDate = "";
    private int usrID { get; set; }
    private int lastHistoryID = -1;

    List<PostHistory> activityLog = new List<PostHistory>();
    List<PostHistory> notificationList = new List<PostHistory>();
    List<Notification> notifications = new List<Notification>();

    protected override async Task OnInitializedAsync()
    {
        authState = await authenticationStateTask;
        user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            if (userId == -1)
            {
                usr = await UserManager.GetUserAsync(user);
                usrID = usr.PublicId;
                await GetHistoryResults(usrID, CurrentPage);
                if (Count > PageSize)
                {
                    for (int i = 1; i <= TotalPages; i++)
                    {
                        paginationData.Add(new FTPaginationModel()
                        {
                            id = i
                        });
                    }
                    var pg = paginationData.FirstOrDefault(s => s.id == CurrentPage);
                    pg.isActive = true;
                }
                await GetNotificationResults(usrID, CurrentNotifPage);
                if (CountN > PageSize)
                {
                    for (int i = 1; i <= TotalNotifPages; i++)
                    {
                        paginationNotifData.Add(new FTPaginationModel()
                        {
                            id = i
                        });
                    }
                    var pg = paginationNotifData.FirstOrDefault(s => s.id == CurrentNotifPage);
                    pg.isActive = true;
                }
            }
            else
            {
                usr = await Hippra.Extensions.UserManagerExtensions.FindByPublicIDNoTrackAsync(UserManager, userId);
            }
            if (usr == null)
            {
                NavigationManager.NavigateTo("/");
            }

        }

        profile = new FTRegisterModel()
        {
            UserName = usr.UserName,
            Email = usr.Email,

            FirstName = usr.FirstName,
            LastName = usr.LastName,
            NPIN = usr.NPIN,
            MedicalSpecialty = usr.MedicalSpecialty,
            AmericanBoardCertified = usr.AmericanBoardCertified,
            ResidencyHospital = usr.ResidencyHospital,
            MedicalSchoolAttended = usr.MedicalSchoolAttended,
            EducationDegree = usr.EducationDegree,
            Address = usr.Address,
            Zipcode = usr.Zipcode,
            State = usr.State,
            City = usr.City,
            PhoneNumber = usr.PhoneNumber
        };
        if (usr.AmericanBoardCertified)
        {
            boardCertified = "Yes";
        }
        switch ((MedicalSpecialtyType)usr.MedicalSpecialty)
        {
            case MedicalSpecialtyType.Anesthesiology:
                medicalSpecialty = "Anesthesiology";
                break;
            case MedicalSpecialtyType.AnatomicPathologyAndClinicalPathology:
                medicalSpecialty = "Anatomic Pathology And Clinical Pathology";
                break;
            case MedicalSpecialtyType.ColonAndRectalSurgery:
                medicalSpecialty = "Colon And Rectal Surgery";
                break;
            case MedicalSpecialtyType.Dermatology:
                medicalSpecialty = "Dermatology";
                break;
            case MedicalSpecialtyType.EmergencyMedicine:
                medicalSpecialty = "Emergency Medicine";
                break;
            case MedicalSpecialtyType.FamilyMedicine:
                medicalSpecialty = "Family Medicine";
                break;
            case MedicalSpecialtyType.HospiceAndPalliativeMedicine:
                medicalSpecialty = "Hospice And Palliative Medicine";
                break;
            case MedicalSpecialtyType.InternalMedicine:
                medicalSpecialty = "Internal Medicine";
                break;
            case MedicalSpecialtyType.MedicalGenetics:
                medicalSpecialty = "Medical Genetics";
                break;
            case MedicalSpecialtyType.MedicalNuclearPhysics:
                medicalSpecialty = "Medical Nuclear Physics";
                break;

            case MedicalSpecialtyType.Neurology:
                medicalSpecialty = "Neurology";
                break;
            case MedicalSpecialtyType.Neurosurgery:
                medicalSpecialty = "Neurosurgery";
                break;
            case MedicalSpecialtyType.NuclearMedicine:
                medicalSpecialty = "NuclearMedicine";
                break;
            case MedicalSpecialtyType.ObstetricsAndGynecology:
                medicalSpecialty = "Obstetrics And Gynecology";
                break;
            case MedicalSpecialtyType.Ophthalmology:
                medicalSpecialty = "Ophthalmology";
                break;
            case MedicalSpecialtyType.OrthopedicSurgery:
                medicalSpecialty = "Orthopedic Surgery";
                break;
            case MedicalSpecialtyType.Otolaryngology:
                medicalSpecialty = "Otolaryngology";
                break;
            case MedicalSpecialtyType.Pediatrics:
                medicalSpecialty = "Pediatrics";
                break;
            case MedicalSpecialtyType.PhysicalMedicineAndRehibilitation:
                medicalSpecialty = "Physical Medicine And Rehibilitation";
                break;
            case MedicalSpecialtyType.PlasticSurgery:
                medicalSpecialty = "PlasticSurgery";
                break;
            case MedicalSpecialtyType.Psychiatry:
                medicalSpecialty = "Psychiatry";
                break;
            case MedicalSpecialtyType.PublicHealthAndGeneralPreventive:
                medicalSpecialty = "Public Health And General Preventive";
                break;
            case MedicalSpecialtyType.Radiology:
                medicalSpecialty = "Radiology";
                break;
            case MedicalSpecialtyType.Surgery:
                medicalSpecialty = "Surgery";
                break;
            case MedicalSpecialtyType.ThoracicSurgery:
                medicalSpecialty = "Thoracic Surgery";
                break;
            case MedicalSpecialtyType.Urology:
                medicalSpecialty = "Urology";
                break;
            case MedicalSpecialtyType.VascularSurgery:
                medicalSpecialty = "Vascular Surgery";
                break;
            default:
                break;
        }
    }
    private async Task ShowProfile()
    {
        actionOptions = 0;
        cssProfile = "active";
        cssActivityLog = "";
        cssNotification = "";

        this.StateHasChanged();
    }
    private async Task ShowActivityLog()
    {
        actionOptions = 1;
        cssProfile = "";
        cssActivityLog = "active";
        cssNotification = "";
    }
    private async Task ShowNotification()
    {
        actionOptions = 2;
        cssProfile = "";
        cssActivityLog = "";
        cssNotification = "active";
    }
    private async Task ChangePage(int targetPage)
    {

        await GetHistoryResults(usrID, targetPage);

        var pg = paginationData.FirstOrDefault(s => s.isActive);
        pg.isActive = false;
        CurrentPage = targetPage;
        pg = paginationData.FirstOrDefault(s => s.id == CurrentPage);
        pg.isActive = true;
        this.StateHasChanged();
    }
    private async Task ChangePageNotif(int targetPage)
    {

        await GetHistoryResults(usrID, targetPage);

        var pg = paginationNotifData.FirstOrDefault(s => s.isActive);
        pg.isActive = false;
        CurrentNotifPage = targetPage;
        pg = paginationNotifData.FirstOrDefault(s => s.id == CurrentNotifPage);
        pg.isActive = true;
        this.StateHasChanged();
    }
    private async Task GetHistoryResults(int id, int targetPage)
    {
        var result = await hService.GetPostHistories(id, targetPage, PageSize);
        activityLog = result.Histories;
        Count = result.TotalCount;
    }
    private async Task GetNotificationResults(int id, int targetPage)
    {
        var result = await hService.GetAllNotifications(id, targetPage, PageSize);
        notifications = result.Notifications;
        CountN = result.TotalCount;
        foreach(var notif in notifications)
        {
            PostHistory ph = new PostHistory();
            ph = await hService.GetHistoryByIDs(notif.NotificationID);
            if(notif.IsRead == 2)
            {
                ph.IsRead = "";
            }
            else
            {
                ph.IsRead = "antiquewhite";
            }
            ph.NotificationID = notif.ID;
            notificationList.Add(ph);
        }
        StateHasChanged();
    }
    private async Task OpenViewModal(int postID)
    {
        NavigationManager.NavigateTo("/viewcase/" + postID);
    }
    private async Task OpenViewModalFromNotification(PostHistory p)
    {
        await hService.NotificationRead(p.NotificationID);
        p.IsRead = "";
        NavigationManager.NavigateTo("/viewcase/" + p.PostID);
    }
    private async Task viewPage(PostHistory p)
    {
        await hService.NotificationRead(p.NotificationID);
        p.IsRead = "";
        NavigationManager.NavigateTo("/PersonalPage/" + p.PosterID);
    }
    private async Task ClearNotification(PostHistory h)
    {
        await hService.DeleteNotification(h.ID);
        notificationList.Remove(h);
        StateHasChanged();

    }
    private async Task AddToConnection(PostHistory p)
    {
        p.Detail = "invite accepted";
        Connection newConn = new Connection();
        newConn.ID = 0;
        newConn.UserID = p.PosterID;
        newConn.FriendID = usrID;
        await hService.AddConnection(newConn);
        await addToHistory("connected with", p);
        await Notify(-1, p.PosterID);
        await hService.NotificationRead(p.NotificationID);
        await GetNotificationResults(usrID, CurrentNotifPage);
        StateHasChanged();
        // add history here
    }
    private async Task Decline(PostHistory p)
    {
        p.Detail = "invite declined";
        await addToHistory("decline invitation", p);
        await Notify(-1, p.PosterID);
        await hService.NotificationRead(p.NotificationID);
        await GetNotificationResults(usrID, CurrentNotifPage);
    }
    private async Task addToHistory(string historyType, PostHistory p)
    {
        //history stuffs
        PostHistory newHistory = new PostHistory();
        newHistory.ID = 0;
        newHistory.PostID = usrID;
        newHistory.PosterID = usrID;
        newHistory.CreationDate = DateTime.Now;
        newHistory.UserID = p.PosterID;
        newHistory.UserDisplayName = usr.FirstName + " " + usr.LastName;
        newHistory.UserDisplayName2 = p.UserDisplayName;
        newHistory.Title = "on Hippra";
        if (historyType == "connected with")
        {
            newHistory.Detail = "invite accepted";
        }
        else
        {
            newHistory.Detail = "invite declined";
        }
        newHistory.HistoryTypes = historyType;
        lastHistoryID = await hService.AddHistory(newHistory);
    }
    private async Task Notify(int type, int receiverID)
    {
        //    int id = await hService.GetHistoryID(userId, usr.PublicId);
        Notification newNotifs = new Notification();
        newNotifs.ID = 0;
        newNotifs.SenderID = usr.PublicId;
        newNotifs.ReceiverID = receiverID;
        newNotifs.NotificationID = lastHistoryID;
        newNotifs.IsRead = -1;
        newNotifs.IsResponseNeeded = -1;
        newNotifs.CreationDate = DateTime.Now;
        await hService.AddNotification(newNotifs);
    }
}
