

@if (!IsMinMode)
{
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTDashboard" Match="NavLinkMatch.All"><i class="ms-Icon ms-Icon--ViewDashboard" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Dashboard</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass} disabled")">Pages</NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTCharts"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Charts</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass} disabled")">Users</NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTUserList"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Users</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTRegister"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Sign Up</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTRZLogin"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Sign In</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTChangeEmail"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Change Email</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTChangePassword"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Change Password</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTPersonalData"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Personal Data</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTProfile"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Profile</span></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-item {TextColorCustomCssClass}")" href="FTEditProfile"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i> <span class="ms-fontWeight-regular ms-fontSize-18">Edit Profile</span></NavLink>


}
else
{
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTDashboard" Match="NavLinkMatch.All"><i class="ms-Icon ms-Icon--ViewDashboard" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass} disabled")"><i class="ms-Icon ms-Icon--More" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTCharts"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass} disabled")"><i class="ms-Icon ms-Icon--More" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTUserList"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTRegister"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTRZLogin"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTChangeEmail"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTChangePassword"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTPersonalData"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>
    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTProfile"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>

    <NavLink class="@($"btn {BtnCustomCssClass} ft-sidebar-min-item {TextColorCustomCssClass}")" href="FTEditProfile"><i class="ms-Icon ms-Icon--Page" aria-hidden="true"></i></NavLink>


}


@code {
    [Parameter]
    public bool IsMinMode { get; set; } = false;

    [CascadingParameter(Name = "FT_THEME")]
    public ThemeOption themeOption { get; set; } = ThemeOption.LIGHT;
    private string BtnCustomCssClass { get; set; } = "";
    private string TextColorCustomCssClass { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        switch (themeOption)
        {
            case ThemeOption.LIGHT:
                BtnCustomCssClass = "btn-light";
                TextColorCustomCssClass = "text-dark";
                break;
            case ThemeOption.FT_LIGHT:
                BtnCustomCssClass = "ft-btn-light";
                TextColorCustomCssClass = "text-dark";
                break;
            case ThemeOption.FT_DARK:
                BtnCustomCssClass = "ft-btn-dark";
                TextColorCustomCssClass = "text-white-50";
                break;
            default:
            case ThemeOption.DARK:
                BtnCustomCssClass = "btn-dark";
                TextColorCustomCssClass = "text-white-50";
                break;
        }


    }
}
