@page
@model Hippra.Pages.Cases.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.PosterID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.PosterID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.PosterName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.PosterName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.DateLastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.DateLastUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.DateClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.DateClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Topic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.ResponseNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.ResponseNeeded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.MedicalCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.MedicalCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.PatientAge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.PatientAge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.Ethnicity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.Ethnicity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.LabValues)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.LabValues)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.CurrentStageOfDisease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.CurrentStageOfDisease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.CurrentTreatmentAdministered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.CurrentTreatmentAdministered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case.TreatmentOutcomes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case.TreatmentOutcomes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Case.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
